.form-control {
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  padding-left: 0;
  padding-right: 0;
  transition: all 0.15s ease;
  margin-left: 7rem;
}
.form-control {
  display: block;
  width: 14rem;
  padding: 0.375rem 0.75rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.origem {
  display: flex;
  float: none;
  margin-left: 4.8rem;
}

.form-citie {
  margin-left: 4.6rem;
  width: 54.6rem;
  padding: 0.375rem 0.75rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.acompanhantes {
  margin-left: 1rem;
}

.form-people {
  display: flex;
  float: none;
  margin-left: 1rem;
  width: 13rem;
  padding: 0.375rem 0.75rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.citie2 {
  display: flex;
  float: none;
  margin-left: 4.3rem;
  margin-top: 3.31rem;
  width: 25.87rem;
  height: 7.7rem;
  padding: 0.375rem 0.75rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.people2 {
  display: flex;
  float: none;
  margin-left: 1rem;
  width: 4.87rem;
  padding: 0.2rem 0.75rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.price {
  display: flex;
  float: none;
  margin-left: 7rem;
  margin-top: -2rem;
  width: 7.8rem;
  padding: 0.22rem 0.75rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5;
  color: #55595c;
  background-color: #1976d2;
  color: var(--text-color-light);
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.button {
  background-color: #1976d2;
  color: var(--text-color-light);
  height: 1.5rem;
  margin-top: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  align-content: center;
}

.total {
  display: flex;
  float: none;
  margin-left: 9.3rem;
  margin-top: 1.31rem;
  width: 69.5rem;
  justify-content: space-between;
  padding: 0.375rem 0.75rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.buy {
  background-color: #1976d2;
  color: var(--text-color-light);
  height: 1.5rem;
  margin-top: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  align-content: center;
}

.text {
  margin-top: 1rem;
  margin-left: 9.5rem;
}

.rules {
  display: flex;
  float: none;
  margin-left: 9.3rem;
  margin-top: 1.31rem;
  width: 69.5rem;
  height: 32rem;
  padding: 0.375rem 0.75rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.divider-3 {
  height: 31rem;
  border-right: 0.1rem solid #ccc;
}

/*====  Trips ============================ */
#trips {
  background: white;
}

#trips .container {
  margin: 0;
}

#trips .image {
  position: relative;
}

#trips .image > img {
  position: relative;
}

#trips .image img,
#trips .image::before {
  border-radius: 0.25rem;
  margin: auto;
  width: 100%;
  display: flex;
}

#trips .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 0px;
}

/*====  FOOTER ============================ */
footer {
  text-align: center;
  background: var(--base-color);
  background-size: cover;
}

footer.section {
  padding: 4rem 0;
}

.logo-footer-1 {
  margin: -5rem;
  width: 12rem;
  position: absolute;
  left: 12rem;
  top: 106rem;
}

footer .brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
  text-align: center;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social-1 {
  grid-auto-flow: column;
  width: fit-content;
  position: relative;
  bottom: -5rem;
}

footer .social-1 a {
  transition: 0.3s;
  display: inline-block;
}

footer .social-1 a:hover {
  transform: translateY(-8px);
}

footer p.autor {
  position: absolute;
  bottom: -5rem;
}

footer p.direito {
  position: absolute;
  bottom: -6rem;
}

/* =========================================media query ================================*/
@media (min-width: 1200px) {
  /* Trips */

  #trips .container {
    margin: auto 6rem;
    display: flex;
  }

  #trips .image img {
    width: 35rem;
    margin: auto;
  }

  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }

  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }

  /* footer */
  footer.section {
    padding: 3.75rem 0;
  }

  .logo-footer-1 {
    margin: -5rem;
    left: 11rem;
    width: 13rem;
    position: absolute;
    bottom: -2rem;
    top: 85rem;
  }

  footer .social-1 {
    position: relative;
    left: 28rem;
    bottom: -2rem;
  }

  footer p {
    position: absolute;
    left: 30rem;
    bottom: -2rem;
  }

  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }

  footer p.autor {
    position: absolute;
    bottom: 0rem;
    top: 84rem;
  }

  footer p.direito {
    position: absolute;
    right: 27rem;
    top: 87rem;
  }
}
